.tab {
    height: 40px;
    background-color: transparent;
    color: #000000;
    flex-grow: 1;

    &--active {
        background-color: #000000;
        color: #FFFFFF;
        border-radius: 10px;
    }

    &__wrapper {

    }

    &__title {
        padding: 0 20px;
    }
}